<footer class="hide-footer">
  <div class="container pad-zero">
    <div class="row">
      <div class="footer-navigation">
          <!-- added class "col-lg-3 col-md-3 col-xs-4 col-sm-4 footer-menus" 
        <div class="col-lg-3 col-md-3 col-xs-4 col-sm-4 footer-menus">
          <h4>Navigation</h4>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Compare</a></li>
            <li><a href="">Career</a></li>
            <li><a href="">Contact us</a></li>
          </ul>
        </div>
           <!-- added class "col-lg-3 col-md-3 col-xs-4 col-sm-4 footer-menus" 
       <div class="col-lg-3 col-md-3 col-xs-4 col-sm-4 footer-menus">
         <h4>commercio</h4>
          <ul>
            <li><a href="">Finding space</a></li>
            <li><a href="">Listing space</a></li>
            <li><a href="">Policies</a></li>
            <li><a href="">Terms &amp; Conditions</a></li>
          </ul>
       </div>
           <!-- added class "col-lg-3 col-md-3 col-xs-4 col-sm-4 footer-menus" 
       <div class="col-lg-3 col-md-3 col-xs-4 col-sm-4 social-links footer-menus">
         <h4>Follow Us</h4>
          <ul>
            <li><a href="" class="facebook"><img src="images/facebook.png" width="30" height="30" alt="Facebook"><span>facebook</span></a></li>
            <li><a href="" class="twitter"><img src="images/twitter.png" width="30" height="30"><span>twitter</span></a></li>
            <li><a href="" class="linkedin"><img src="images/linkedin.png" width="30" height="30"><span>linkedin</span></a></li>
          </ul>
       </div>
           <!-- added class "col-lg-3 col-md-3 col-xs-4 col-sm-12 footer-menus" 
       <div class="col-lg-3 col-md-3 col-xs-4 col-sm-12 news-letter padding-0 footer-menus">
         <h4>Newsletter</h4>{{newsletterErrmsg}}
         <p>Sign up to receive our latest spaces.</p>
         <span style="color:green">{{newslettermsg}}</span>
         <span style="color:red">{{newsletterErrmsg}}</span>
         <span style="color:red" ng-show="newsletterForm.newsletterEmail.$dirty && newsletterForm.newsletterEmail.$invalid">
          <span ng-show="newsletterForm.newsletterEmail.$error.required">Email is required.</span>
          <span ng-show="newsletterForm.newsletterEmail.$error.email">Invalid email address.</span>
         </span>
         <div class="form-group">
          <form name="newsletterForm" novalidate>
           <input type="email" required class="form-control number" id="newsletter-email" ng-model="newsletterEmail" name="newsletterEmail" placeholder="Email Address">
           <button  ng-disabled="newsletterForm.newsletterEmail.$invalid" type="button" ng-hide="newsletter_loader" ng-click="newsletterSignup(newsletterEmail)" class="btn btn-default send-button">Submit</button>
         </form>
           <img ng-show="newsletter_loader" src="../images/ajax-loader.gif"/>
           <!-- Loader...
         </div>
       </div>-->
        
       <div class="col-xs-12 col-sm-3 pad-zero seven-center">
       <div class="footer-logo">
           <img src="/images/footer-logo.png"/>
       </div>   
       </div>     
        <div class="col-xs-12 col-sm-6 seven-center">
            <div class="footer-links-new">
            <ul>
                <li>
                <a href="">Post Your Requirement</a>
                </li>
                 <li><a href="">
                     List Your Property   </a>
                </li>
                 <li><a href="">
                     About Us  </a>
                </li>
                 <li><a href="">
                Terms and Conditions</a>
                </li>
            </ul>
            </div>
        </div>
          <div class="col-xs-12 col-sm-3 seven-pad">
              <div class="socila-footer">
              <ul>
                <li class="fb-socila">
                
                 </li>
                <li class="in-socila">
                </li>
                 <li class="tw-socila">
                </li>      
              </ul>
              </div>
          </div>      
      </div>
    </div>
  </div>
  
  <div class="copyright-wrapper">
    <div class="container">
      <div class="row">
         <p class="text-center">Copyright &copy; {{nextYear}} commercio.com | All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!--footer Starts-->