
<div class="">
<form role="form" name="frmListYourSpace" id="frmListYourSpace" data-ng-element-ready="setfrmListYourSpaceform(frmListYourSpace,true)" novalidate>
  <div id= "list_your_space" class="login-area " style="color:black" flow-init>
  <div class="row">
  <h1>We would love to know about your space</h1>
    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6"> 
      <!--  <h3>List your Space</h3> -->
      <div class="listSpace-fields">
        <div  ng-class="{'has-error':(frmListYourSpace.name.$invalid)&&frmListYourSpace.name.$dirty && frmListYourSpace.name.$touched,'is-valid':frmListYourSpace.name.$valid && frmListYourSpace.name.$touched }">
          <p>Your Name*</p>
          <input type="text" class="italic-place" name="name" ng-model="listProperty.name" placeholder="Enter Your Name"  ng-pattern='/^[a-z\sA-Z]*$/' ng-maxlength='50' ng-focus="clearToch('frmListYourSpace','name')" tabindex="1" required/>
          <span style="color:red" ng-show="frmListYourSpace.name.$dirty&&frmListYourSpace.name.$invalid">
           <span class="err-msg"  style="color:red" ng-show="frmListYourSpace.name.$error.required && frmListYourSpace.name.$touched">Please enter your Name</span>
           <span class="err-msg" style="color:red"  ng-show="frmListYourSpace.name.$error.pattern && frmListYourSpace.name.$touched">Please enter only alphabets from A-Z</span>
            <span class="err-msg" style="color:red"  ng-show="contactForm.name.$error.maxlength && frmListYourSpace.name.$touched">Please enter only 50 characters</span>
          </span>
        </div>
        <div  ng-class="{'has-error':(frmListYourSpace.phone.$invalid)&&frmListYourSpace.phone.$dirty && frmListYourSpace.phone.$touched,'is-valid':frmListYourSpace.phone.$valid && frmListYourSpace.phone.$touched}">
          <p>Mobile number*</p>
          <div class="phone-numbers">
              <span class="phone-prefix italic-place">+91</span>
              <input class="phone italic-place" type="text" name="phone" ng-model="listProperty.phone"  ng-pattern='/^[0-9]{10}$/' ng-focus="clearToch('frmListYourSpace','phone')" tabindex="2" required/>
          </div>
          <span style="color:red" ng-show="frmListYourSpace.phone.$dirty&&frmListYourSpace.phone.$invalid">
           <span  style="color:red" class="err-msg" ng-show="frmListYourSpace.phone.$error.required && frmListYourSpace.phone.$touched">Please enter a valid phone number</span>
           <span style="color:red" class="err-msg" ng-show="frmListYourSpace.phone.$error.pattern && frmListYourSpace.phone.$touched">Please enter a valid phone number</span>
          </span>
        </div>
        <div  ng-class="{'has-error':(frmListYourSpace.propertyAddress.$invalid)&&frmListYourSpace.propertyAddress.$dirty && frmListYourSpace.propertyAddress.$touched,'is-valid':frmListYourSpace.propertyAddress.$valid && frmListYourSpace.propertyAddress.$touched}">
            <p>Where is your space located?</p>
            <textarea  name="propertyAddress" class="italic-place" placeholder="Enter your location" ng-model="listProperty.propertyAddress" ng-maxlength="250" ng-focus="clearToch('frmListYourSpace','propertyAddress')" tabindex="3" required/>
            <span style="color:red" ng-show="frmListYourSpace.propertyAddress.$dirty&&frmListYourSpace.propertyAddress.$invalid">
               <span style="color:red" class="err-msg" ng-show="frmListYourSpace.propertyAddress.$error.maxlength && frmListYourSpace.propertyAddress.$touched">please enter only 250 characters.</span>
               <span  style="color:red" class="err-msg" ng-show="frmListYourSpace.propertyAddress.$error.required && frmListYourSpace.propertyAddress.$touched">Please enter your location.</span>
              </span>
            </div>
            <div class="listSpace-fields">
              <p>What type of space is it?*</p>
              <div  ng-class="{'has-error':(frmListYourSpace.typeOfSpace.$invalid)&&frmListYourSpace.typeOfSpace.$dirty && frmListYourSpace.typeOfSpace.$touched,'is-valid':frmListYourSpace.typeOfSpace.$valid && frmListYourSpace.typeOfSpace.$touched}">
                <select name="typeOfSpace" class="italic-place" ng-model="listProperty.typeOfSpace" ng-focus="clearToch('frmListYourSpace','typeOfSpace')" tabindex="4" required>
                 <option ng-hide="true" value="">What type of space is it?</option>
                  <option value="{{i}}" ng-repeat="i in typeofspace">{{i}}</option>
                </select>
                <span ng-show="frmListYourSpace.typeOfSpace.$error.required &&frmListYourSpace.typeOfSpace.$dirty && frmListYourSpace.typeOfSpace.$touched" class="err-msg" style="color:red">Select type of space</span>
              </div>
            </div>
          </div>
      </div>
    
    
    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
      <div class="listSpace-fields">
        
        <div class="listSpace-fields">
            <p>What kind of property the space belong to?*</p>
            <div  ng-class="{'has-error':(frmListYourSpace.propertyCategory.$invalid)&&frmListYourSpace.propertyCategory.$dirty && frmListYourSpace.propertyCategory.$touched,'is-valid':frmListYourSpace.propertyCategory.$valid && frmListYourSpace.propertyCategory.$touched}">
              <select name="propertyCategory" class="italic-place"  ng-model="listProperty.propertyCategory" ng-focus="clearToch('frmListYourSpace','propertyCategory')" tabindex="5" required>
                <option ng-hide="true" value="">What kind of property the space belong to?</option>
                <option value="{{i}}" ng-repeat="i in kindofspace">{{i}}</option>
              </select>
               <span ng-show="frmListYourSpace.propertyCategory.$error.required&&frmListYourSpace.propertyCategory.$dirty && frmListYourSpace.propertyCategory.$touched" class="err-msg" style="color:red">Select type of space</span>
            </div>
          </div>
          <div class="listSpace-fields">
            <div  class="has-error">
            <p class="">Do you own the space?</p>
             <div class="btn-group form-group clearfix" data-toggle="buttons">
              <label class="btn active css-label background-color" ng-click="setownership('yes')">
                <input type="radio" class="css-checkbox" name="list_property_for"  id="lease" value="yes" tabindex="6"> Yes
              </label>
              <label class="btn css-label background-color" ng-click="setownership('no')">
                <input type="radio" class="css-checkbox" name="list_property_for"  id="rent" value="no" tabindex="7"> No
              </label>
             </div> 
             <span class="error err-msg" ng-show="listProperty.ownership=='no'" style="top: -10px;
    position: relative;">Hey, Unfortunately we don’t support Non-Owners as of now. We will keep you posted soon. Thank you</span>
           </div>
          </div> 
          <div  ng-class="{'has-error':(frmListYourSpace.buildingName.$invalid)&&frmListYourSpace.buildingName.$dirty && frmListYourSpace.buildingName.$touched,'is-valid':frmListYourSpace.buildingName.$valid && frmListYourSpace.buildingName.$touched }">
          <p>Can you help us with the name of the building?</p>
          <input type="text" ng-model="listProperty.buildingName" name="buildingName" placeholder="Enter Your Building Name" class="italic-place" ng-pattern='/^[a-z\sA-Z0-9]*$/' ng-maxlength='50' ng-focus="clearToch('frmListYourSpace','buildingName')" tabindex="8" required/>
          <span style="color:red" ng-show="frmListYourSpace.buildingName.$dirty&&frmListYourSpace.buildingName.$invalid">
             <span  style="color:red" class="err-msg" ng-show="frmListYourSpace.buildingName.$error.required && frmListYourSpace.buildingName.$touched">Please enter your buildingName.</span>
             <span style="color:red"  class="err-msg" ng-show="frmListYourSpace.buildingName.$error.pattern && frmListYourSpace.buildingName.$touched">Please enter only alphabets from A-z and 0-9.</span>
              <span style="color:red" class="err-msg" ng-show="frmListYourSpace.buildingName.$error.maxlength && frmListYourSpace.buildingName.$touched">please enter only 50 characters.</span>
            </span>
        </div>
        <div class="listSpace-fields">
          <p>Why not share some images with us?</p>
          <div class="drag-files drop-box" name="fileupload" ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="drop-box" ng-model='filesArray' ng-model-options="{ allowInvalid: true, debounce: 0}" 
                          ngf-drag-over-class="dragover" ngf-multiple="true" ngf-pattern="'image/*'">
          <span class="uploadfile-data" tabindex="9">Add Files</span>Or drag and drop your images here </div>
        <div ngf-no-file-drop class="err-msg">File Drag/Drop is not supported for this browser</div>
        
        <table class="table table-hover table-bordered table-striped upload-file-list" scrollevent2>
          <tbody>
            <tr>
              <td ng-repeat="file in image_files"><div class=""> <img ngf-thumbnail="!file.$error && file" ngf-size="{width: 100, height: 100, quality: 0.9}" class="thumb"></div>
                {{$files|json}}
                <button class="file-remove" ng-click="image_files.splice($index,1);">remove</button>
                <br/>
                <div class="progress-bar" ng-if="file.progress"  role="progressbar" aria-valuenow="{{file.progress}}"
                                aria-valuemin="0" aria-valuemax="100" ng-style="{'width': file.progress+'%'}"> {{file.progress}}% </div></td>
            </tr>
          </tbody>
        </table>
        <div class='error err-msg' id="popup-msg-list" style='display:none'></div>
      </div>
      </div>
    </div>
    
    <div class="col-sm-12">
      <div class="listSpace-fields" ng-if='!showpercentage'> 
      <button  ng-click = "listYourSpace(listProperty);" class="send-button">Submit</button>
    </div>
    <div class="listSpace-fields" ng-if="showpercentage" style="text-align:center;"> 
      <img src="../images/ajax-loader.gif"/>
    </div>
    </div>
</div>
  </div>
  </div>
  
  </div>
  </div>
</form>
</div>
<div class="list-your-model otp-password">
<div class="modal-dialog">
  <modal  title="List Your Space" id='ListYourSpaceotp'  visible="showOTPModel" data-backdrop="static" ng-model="showOTPModel"  >
     <button type="button" class="close" ng-click="setpercentage()" ng-disabled="showpercentageotp" data-dismiss="modal">&times;</button>
     <div class="ListYourSpacesssss">
       <div>
         <p>We have just sent a OTP to the provided mobile number.</p>
         <p>If you haven't received the OTP, please click <a ng-click="resendotp()" role="button" ng-disabled='showpercentageotp'>here.</a></p>
       </div>
      <p class="margin0"><input type="text" class="optno" ng-model="enteredOTP"  ng-change="validateOTP(enteredOTP)" placeholder="Type your OTP" only-digits></p>
       <span class="password-sent" style="font-size: 12px;" ng-style="otpresult">{{wrongOtp}}</span>
        
        <img ng-show="showpercentageotp"  src="../images/ajax-loader.gif"/>
     </div>

  </modal>
  </div>
  </div>

  <div class='error' id="profile-popup-msg" style='display:none'></div>