
<div class="col-xs-12">
    <h3>RECENT SEARCHES</h3>
    <!-- <div class="content-bx recent-bx" ng-repeat="data in recentlyvieweds">
        <div class="content-img" ng-click="viewproperty(data)">
            <img src="{{data.Image_URL_1__c}}" alt="" class="img-responsive">
        </div>
        <div class="content-info">
            <h4>{{data.Area_in_Sq_Ft__c}} SQFT office space,SEZ</h4>
            <i class="icons location">{{data.Location__c}},{{data.City__c}},{{data.State__c}}</i>
            <div class="row price-wrap">
               <div class="col-xs-6 col-lg-5 price-col">
                   <i class="sqft icons">{{data.Area_in_Sq_Ft__c}} Sqft</i>
               </div>
               <div class="col-xs-6 col-lg-5 price-col">
                  <div class="price"><span>Price :</span> <i class="rs font-icon ">{{data.Price__c}}</i></div>     
               </div>
           </div>
           <a href="" class="subscribe font-icon">Subscribe</a>
        </div>
    </div> -->
    <div class="recentsearchdels">
     <ul>
       <li ng-repeat="data in recentlyviewed" my-Directivrecenlyviewd>
        <div class="pull-left lft-tag class-imgmap" ng-click="searchData(data)">
         <center><span ng-if="data.type=='Rent'">R</span><span ng-if="data.type=='Buy'">B</span></center>
         </div>
          <div class="pull-right rgt-tag prop-add class-imgdetails">
              <section class="search-recent-places-details pull-left">
              <h3 role="button" ng-click="searchData(data)">{{data.type}} in {{data.locality}}</h3>
              <div class="dts-prop" ng-if="(data.area!='0-0'&&data.area)||data.category"><span ng-if="data.area!='0-0'&&data.area">Sqft: {{getAreaMin(data.area)}} - {{getAreaMax(data.area)}}</span><span ng-if="data.area!=='0-0'&&data.area&&data.category">, </span><span ng-if="data.category">{{data.category}}</span></div>
              </section>
              <div class="centerly"><span class="alert-subscribe"><a href="">Subscribe</a></span></div>
         </div>   
         
       </li>
    <!-- <li>
         <div class="pull-left lft-tag">
         FOR Buy
         </div>
          <div class="pull-right rgt-tag prop-add">
              <h3>Rent in Koramangala 5th Block, Bangalore, Karnataka, India</h3>
              <div class="dts-prop">Rent: 25000 - 70000, Office Space</div>
         </div>   
         
       </li>
        <li>
         <div class="pull-left lft-tag">
         FOR Buy
         </div>
          <div class="pull-right rgt-tag prop-add">
              <h3>Rent in Koramangala 5th Block, Bangalore, Karnataka, India</h3>
              <div class="dts-prop">Rent: 25000 - 70000, Office Space</div>
         </div>   
         
       </li>
         <li>
         <div class="pull-left lft-tag">
         FOR RENT
         </div>
          <div class="pull-right rgt-tag prop-add">
              <h3>Rent in Koramangala 5th Block, Bangalore, Karnataka, India</h3>
              <div class="dts-prop">Rent: 25000 - 70000, Office Space</div>
         </div>   
         
       </li> -->
     </ul>
     
   </div>
   <div ng-show="(!recentlyviewed.length)&&recentlyviewed" class="alert alert-danger" >
                No Recent Searchs Done By You
    </div>
</div>
    