

.navigation{
	height:66px;
	background-color: #212121;
}

.container{
	width:1190px;
}
#logo img{
	margin-top: 13px;
	float: left;
}

.nav ul li{
	display: inline block;
	list-style-type: none;
	float: right;
}

.nav ul{
	
	
	
}

.nav li{
	
	color:#fff;
	font-size: 18px;
	font-weight: 900;
	padding: 18px;
}

.my-nav{
  background-color: #f4f4f4;
    height: 50px;
    padding-left: 110px;
}
.drop{
  float:left;
    padding: 0px 15px 10px 0px;
}

.dropdown{
	margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -5px !important;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.txtVal:hover, .areaVal:hover {
  background-color: #e5e5e5;
  cursor:pointer;
}


#map-canvas {
	width: 460px;
	height: 83vh;
	float: left;
	}
#side-menu{
	width: 700px;
	height: 700px;
	float: right;
}
.list,.shortlist{
	overflow-x: auto;
  height: 64vh;
}
.search-container{
	height: 130px;
	width:691px;
}

.outer-span{
	width: 670px;
	height:186px;
	  margin-left: 8px;
}

.outer-span .left{
	width: 255px;
	height:186px;
	float: left;
}

.outer-span .right{
	width: 400px;
  height: 186px;
  float: left;
  margin-left: 10px;
}

.right h2{
	  margin-top: -4px;
	  font-size: 25px;
  font-weight: 900;
  font-variant: small-caps;
}

.right p{
	font-weight: 600;
  color: #777;
}

.right .area{
	  display: inline-block;
  padding: 5px 0;
  width: 50%;
  font-weight: 600;
  color: #1CB798;
  font-size: 30px;
}

.right .price{
	  display: inline-block;
  padding: 5px 0;
  width: 50%;
  font-weight: 600;
  color: #1CB798;
  font-size: 30px;
}

#slides_control > div{
  height: 330px;
}
.slides_control img{
  margin:0 auto;
  width: 200%;
}
#slides_control {
  //position:absolute;
  width: 100%;
  height: 330px;
  //left:50%;
  //top:20px;
 //margin-left:-200px;
}

#slides_control .right ,#slides_control .left{
 
  height: 330px;
  
}


